<main class="main">
<div class="card container" style="width:40rem; height: 50rem;">
    <h1 id="title">authetication</h1>
    <form  [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
        <div class="card-body" >
           
            <mat-form-field class="inp" >
            <label>USER NAME</label>
            <input matInput type="text" formControlName="username" >
        </mat-form-field>
        </div>
        <div class="card-body" >
            <mat-form-field class="inp">
            <label>PASSWORD</label>
            <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
        <button class="btn" mat-raised-button type="submit" >SUBMIT</button>
        <button mat-raised-button (click)="goSignUp()" class="btn" > Don't have Account</button>
    </form>
       
</div>
</main>