<main class="main">
<div class="form">
    <h1 id="title">authetication</h1>
    <form  [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
        <div  >
            <mat-form-field class="InDiv">
            <label>USER NAME</label>
            <input matInput type="text" formControlName="username" >
        </mat-form-field>
        </div>
        <div  >
            <mat-form-field class="InDiv">
            <label>PASSWORD</label>
            <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
        <button class="btn" mat-raised-button type="submit" >SUBMIT</button>

    </form>
        <button mat-raised-button (click)="goSignUp()" class="btn" > Don't have Account</button>
        <div class="imgDiv">
            
        </div>
</div>
</main>