/*html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0;

    height: 100%;
    width: 100%;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-top: 0;
}
.btn{
    margin: 10px;
    font-size: medium;
    width: 300px;
    margin-left: 400px;
}
#title{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 340px;
    margin-top: 10;
    display: inline;
}
.InDiv{
    display: block;
    width: 500px;
    margin-left: 300px;
}*/
.main{
    margin: 0;
    height: 100%;
    width: 100%;
    background-color:black;
}
.card{
   background-color: #966F33;

}
.btn{
    
    margin-left: 30px;
}
.inp{
    width: 500px;
}
#title{
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 80px;
    margin-top: 50px;
    display: inline;
}
.imgDiv{
    max-width: 700px;
    min-width: 600px;
    max-height: 300px;
    margin: 10px;
    margin-left: 0%;

}