<main>
    <div class="hcards">
        <div class="it">
            <h1 class="nami1">IT & Software</h1>
            <p class="akon1"> Find All Courses Here</p>
            <button mat-raised-button color="primary" class="lonk1" ><a (click)="goCourse()">more details</a>
            </button>
            </div>
        <div class="trd">
                <h1 class="nami1">Trading</h1>
                <p class="akon1"> Find All Courses Here</p>
                <button mat-raised-button color="primary" class="lonk1" ><a (click)="goCourse()">more details</a>
                </button>
            </div>
        <div class="drps">
                    <h1 class="nami1">Dropshipping</h1>
                    <p class="akon1"> Find All Courses Here</p>
                    <button mat-raised-button color="primary" class="lonk1" ><a (click)="goCourse()">more details</a>
                    </button>
        </div>
        </div>
</main>
