<div style="margin:0%" class="bdiv">
    <mat-toolbar class="toolbar">
      <a class="hm" routerLink="/home">FORMATION</a>
      <form    class="search-form">
        <mat-form-field class="serach-full-width">
          <input matInput type="text" placeholder="Search course" value="name" [(ngModel)]="nom" name="valu">
        </mat-form-field>
        </form>
        <button (click)="onSubmit()" class="iconB" color="primary" mat-fab ><mat-icon class="icon" aria-hidden="false" aria-label="Example search icon" fontIcon="search"></mat-icon></button>
        
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
  <div class="footer">
    <h1 id="h1" >Contact Us :</h1>
    <p><a id="a" href="mailto:hege@example.com">hege@example.com</a></p>
    <div id="social">
      <ul class="quack">
      <li><a href="https://fr-fr.facebook.com/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/?lang=fr"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
     
      </ul>
  </div>
  </div>
