<div style="margin:0%" class="bdiv">
    <mat-toolbar class="toolbar">
      <a class="hm" routerLink="/home">FORMATION</a>
      <form    class="search-form">
        <mat-form-field class="serach-full-width">
          <input matInput type="text" placeholder="Search course" value="name" [(ngModel)]="nom" name="valu">
        </mat-form-field>
        </form>
        <button (click)="onSubmit()" class="iconB" color="primary" mat-fab ><mat-icon class="icon" aria-hidden="false" aria-label="Example search icon" fontIcon="search"></mat-icon></button>
        <span id="abt">ABOUT US</span>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
  <!--<div class="footer">
    <h1 id="h1" >Contact Us :</h1>
    <p><a id="a" href="mailto:hege@example.com">hege@example.com</a></p>
    <p id="p">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMake</p>
  </div>-->
